
<h2 style="margin: 0px;">
    Titulo do ticket {{ticket.title}}
</h2>

<p style="margin-top: 5px;">
    Numemro do Ticket: {{ticket.id}}
</p>

<p style="margin-top: 5px;">
    Nome do criador do Ticket: {{ticket.nameIssuer}}
</p>

<p style="margin-top: 5px;">
    Email do criador do Ticket: {{ticket.emailIssuer}}
</p>

<p style="margin-top: 5px;">
    Nome de quem respondera o Ticket: {{ticket.nameResponder}}
</p>

<p style="margin-top: 5px;">
    Email de quem respondera o Ticket: {{ticket.emailResponder}}
</p>

<p style="margin-top: 5px;">
    Descrição do Ticket: {{ticket.description}}
</p>
