<div>
    <h1>
        Help - Desk
    </h1>
    <a routerLink="list-tickets">Página Inicial</a>&nbsp;&nbsp;
    <a routerLink="register-ticket">Cadastrar Ticket</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>