<div>
    <form [formGroup]="formSearch.root">
        <select formControlName="searchType">
            <option value="1">Por Nome de Criador</option>
            <option value="2">Por Nome do Responsavel</option>
        </select>
        &nbsp;
        <input type="text" size="45" formControlName="searchText"/>
        &nbsp;
        <input type="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>

<br />
<table style="width: 90%;" border="1">
    <thead>
        <tr>
            <th style="width: 10%;">Título Ticket</th>
            <th style="width: 8%;">N° Ticket</th>
            <th style="width: 10%;">Nome Criador</th>
            <th style="width: 10%;">Email Criador</th>
            <th style="width: 10%;">Nome Responsavel</th>
            <th style="width: 10%;">Email Responsavel</th>
        </tr>
    </thead>
    <tbody>
        <tr style="text-align: center;" *ngFor="let ticket of tickets">
            <td>
                <a [routerLink]="['/details-ticket', ticket.id]">{{ticket.title}}</a>
            </td>
            <td>{{ticket.title}}</td>
            <td>{{ticket.nameIssuer}}</td>
            <td>{{ticket.emailIssuer}}</td>
            <td>{{ticket.nameResponder}}</td>
            <td>{{ticket.emailResponder}}</td>
        </tr>
    </tbody>
</table>