<h4>
    Cadastro de Ticket
</h4>

<form [formGroup]="formTicket">

    Nome do criador do Ticket: <br />
    <input type="text" size="40" formControlName="name_issuer" />
    <div *ngIf="name_issuer.touched && name_issuer.errors?.required" class="error-message">
        Informe o nome do criador do ticket!
    </div>
    <br /><br />

    Email do criador do Ticket: <br />
    <input type="text" size="40" formControlName="email_issuer" />
    <div *ngIf="email_issuer.touched && email_issuer.errors?.required" class="error-message">
        Informe o email do criador do ticket!
    </div>
    <div *ngIf="email_issuer.errors?.email" class="error-message">
        E-mail informado esta inválido...
      </div>
    <br /><br />

    Nome respondedor do Ticket: <br />
    <input type="text" size="40" formControlName="name_responder" />
    <div *ngIf="name_responder.touched && name_responder.errors?.required" class="error-message">
        Informe o nome de quem ira responder ticket!
    </div>
    <br /><br />

    Email respondedor do Ticket: <br />
    <input type="text" size="40" formControlName="email_responder" />
    <div *ngIf="email_responder.touched && email_responder.errors?.required" class="error-message">
        Informe o email de quem ira responder ticket!
    </div>
    <div *ngIf="email_responder.errors?.email" class="error-message">
        E-mail informado esta inválido...
      </div>
    <br /><br />

    Titulo do Ticket: <br />
    <input type="text" size="50" formControlName="title" />
    <div *ngIf="title.touched && title.errors?.required" class="error-message">
        Informe o titulo do ticket!
    </div>
    <br /><br />

    Descrição do Ticket: <br />
    <textarea cols="40" rows="5" formControlName="description"></textarea>
    <div *ngIf="description.touched && description.errors?.required" class="error-message">
        Informe a descrição do ticket!
    </div>
    <br /><br />
    
    <input type="button" value="Salvar" [disabled]="formTicket.invalid" (click)="save()">
    &nbsp;&nbsp;
    <input type="button" value="Cancelar" (click)="cancel()">
</form>